{% extends 'base/main.html' %}
{% load static %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'base/css/about.css' %}">

<h2 class="block-title about-title">
    Про Нас:
</h2>

<p class="description p-2">
    Наша компанія працює на автомобільному ринку з 1994 р. Займаємся продажем автомобілів нових і з пробігом, є офіційним дилером брендів: JAC. А так же надає повний спектр супровідних і післяпродажних послуг. У нашому автосалоні працює відділ фінансового сервісу (досконале знання кредитних продуктів банків, лізингових компаній, умов інших фінансових продуктів, представлених на ринку - споживчі без заставні кредити, кредит з цільовим призначенням, кредити з пільговими періодами, умов фінансування не тільки покупки автомобілів, але і їх ремонту.) Спираючись на багаторічний досвід роботи, ми професійно надамо Вам наступні послуги:
</p>
<div class="service-block p-1">
    <h6 class="service-title p-1">ПРОДАЖ НОВОГО АВТОМОБІЛЯ:</h6>
    <p class="description">
        На Ваш запит, ми готові надати Вам порівняльні характеристики автомобільних брендів, провести Вам ТЕСТ-ДРАЙВ на цікавлять Вас автомобілів і ознайомити з акційними пропозиціями дилерських мереж. Гнучка система акцій та знижок Вас приємно здивує! Наш покупець автомобіля вирішує сам, в якому вигляді він хотів би отримати подарунок до автомобіля. Це може бути один з наступних варіантів: доукомплектация автомобіля установка ГБО (газобалонне обладнання) і завжди приємні подарунки!
    </p>
    <img class="service-img" src="{% static 'images/about.jpg' %}" alt="our-cars">
    <hr>
</div>
<div class="service-block p-1">
    <h6 class="service-title p-1">КУПІВЛЯ / ПРОДАЖ АВТОМОБІЛЕЙ З ПРОБІГОМ:</h6>
    <p class="description">
        Ви вирішили продати автомобіль або вигідно обміняти його на інший, новіший або Ви сумніваєтеся і хочете просто прицінитися? Наші фахівці запропонують Вам наступне: оцінка автомобіля (ринкова і терміновий викуп) програма TRADE-IN (обмін автомобіля на більш новий автомобіль) продаж Вашого автомобіля за ринковою ціною (без попередніх комісій і зобов'язань, залишати автомобіль на нашому майданчику не обов'язково) продаж / купівля автомобіля, оформленого в кредит (перехід права власності без ризиків!)
        <br><br>
        Пряма перереєстрація автомобіля, безпосередньо у нас в салоні! (тобто перехід права власності на автомобіль)
    </p>
    <hr>
</div>
<div class="service-block p-1">
    <h6 class="service-title p-1">КРЕДИТУВАННЯ:</h6>
    <p class="description">
        Ми орієнтуємо свого клієнта на прозорі кредитні продукти, без «підводних каменів», надаємо кредитні договори для попереднього ознайомлення, варіанти розрахунків з детальним описом.
        <br><br>
        На ринку працює безліч фінансових шахраїв, які залучають клієнтів низькими процентними ставками, мінімальними внесками і необов'язковим наявністю документів, що підтверджують доходи. Ми працюємо без посередників, безпосередньо з банками.
        <br><br>
        Важливі умови кредитного договору:
        <br>
        додаткові страхові продукти (страхування життя, нещасного випадку) умови КАСКО (страхування автомобіля є обов'язковим при кредиті, але наповнення страхового продукту - в Ваших руках.
    </p>
    <hr>
</div>
<div class="service-block p-1">
    <h6 class="service-title p-1">ВСТАНОВЛЕННЯ ГБО:</h6>
    <p class="description">
        - 4 покоління, Італія, Польща - вибір бренду (BRC, LandiRenzo, LonGas, Stag, LPG, A.E.B, Prins)
        <br>
        - установка «під ключ»
        <br>
        - продаж, сервіс, гарантія, реєстрація
    </p>
    <hr>
</div>

{% endblock content %}