{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'base/css/about.css' %}">


    <div class="container">
    <h2 class="block-title about-title">
        {% trans 'About us' %}
    </h2>

    <p class="description p-2">
        {% trans 'Our company has been operating in the automotive market since 1994. We sell new and used cars, and are an official dealer of the following brands: JAC. It also provides a full range of support and after-sales services. The financial service department works in our car dealership (perfect knowledge of credit products of banks, leasing companies, conditions of other financial products presented on the market - consumer loans without collateral, loans with a specific purpose, loans with grace periods, financing conditions not only for the purchase of cars, but also their repair.) Based on many years of work experience, we will professionally provide you with the following services:' %}
    </p>
    <div class="service-block p-1">
        <h6 class="service-title p-1">{% trans 'SALE NEW CAR:' %}</h6>
        <p class="description">
            {% trans 'At your request, we are ready to provide you with comparative characteristics of car brands, give you a TEST-DRIVE on the cars you are interested in, and introduce you to promotional offers of dealer networks. A flexible system of promotions and discounts will pleasantly surprise you! Our car buyer decides for himself in what form he would like to receive a gift for the car. It can be one of the following options: retrofitting the car, installing HBO (gas cylinder equipment) and always nice gifts!' %}
        </p>
        <img class="service-img" src="{% static 'base/images/about.jpg' %}" alt="">
        <hr>
    </div>
    <div class="service-block p-1">
        <h6 class="service-title p-1">{% trans 'BUYING / SELLING CARS WITH MILEAGE:' %}</h6>
        <p class="description">
           {% trans 'Have you decided to sell your car or trade it in for another, newer one, or do you have doubts and just want to get an estimate? Our experts will offer you the following: car evaluation (market and urgent buyback) TRADE-IN program (car exchange for a newer car) sale of your car at the market price (without prior commissions and obligations, it is not necessary to leave the car at our site ) sale / purchase of a car issued on credit (transfer of ownership without risks!)' %}
            <br><br>
            {% trans 'Direct car re-registration, directly in our salon! (i.e. transfer of car ownership)' %}
        </p>
        <hr>
    </div>
    <div class="service-block p-1">
        <h6 class="service-title p-1">{% trans 'LENDING:' %}</h6>
        <p class="description">
            {% trans 'We orient our client to transparent credit products, without "pitfalls", we provide credit agreements for preliminary review, settlement options with a detailed description.' %}
            <br><br>
            {% trans 'There are many financial fraudsters operating on the market who attract customers with low interest rates, minimal contributions and the optional presence of documents confirming income. We work directly with banks without intermediaries.' %}
            <br><br>
            {% trans 'Important terms of the credit agreement:' %}
            <br>
            {% trans 'Additional insurance products (life insurance, accident insurance) CASCO conditions (car insurance is mandatory for a loan, but filling out the insurance product is in your hands.' %}
        </p>
        <hr>
    </div>
    <div class="service-block p-1">
        <h6 class="service-title p-1">{% trans 'INSTALLATION OF GCE:' %}</h6>
        <p class="description">
            {% trans '- 4 generations, Italy, Poland - brand selection (BRC, LandiRenzo, LonGas, Stag, LPG, A.E.B, Prins)' %}
            <br>
            {% trans '- turnkey installation' %}
            <br>
            {% trans '- sale, service, warranty, registration' %}
        </p>
        <hr>
    </div>
</div>
{% endblock content %}