{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'base/css/ready.css' %}">

<div class="container">
    <div class="block-info">
        <div class="block-inner">
            <img src="{% static 'base/icons/ready.png' %}" alt="" class="ready">
            <h3 class="ready-title">{% trans 'Thank you for order!' %}</h3>
            <p class="ready-desc">{% trans 'Our managers will contact you shortly.' %}</p>

            <div class="buttons">
                <div class="buttons-inner">
                    <div class="ready-btn">
                        <a class="ready-button" href="{% url 'home' %}">{% trans 'Home' %}</a>
                    </div>
                </div>
                <div class="buttons-inner">
                    <div class="ready-btn">
                        <a class="ready-button" href="{% url 'cars' %}">{% trans 'Cars' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}