{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<link rel="stylesheet" href="{% static 'equipment/css/products.css' %}">

<div class="container">
    <div class="equip">
        <h2 class="main-title">{% trans 'Additional equipment' %}</h2>

        {% for product in products.all %}
        <div class="equip-block">
            <div class="equip-info">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'en' %}
                <div class="text-info-block">
                    <h3 class="product-title">{{product.name_en}}</h3>
                    <div class="product-description">
                        {{product.description_en|safe}}
                    </div>
                </div>
                <a href="/contacts/" class="contact">{% trans 'Contacts us' %}</a>
                {% elif LANGUAGE_CODE == 'uk' %}
                <div class="text-info-block">
                    <h3 class="product-title">{{product.name_uk}}</h3>
                    <div class="product-description">
                        {{product.description_uk|safe}}
                    </div>
                </div>
                <a href="/contacts/" class="contact">{% trans 'Contacts us' %}</a>
                {% endif %}
            </div>

            <div class="equip-image">
                <img src="{{product.product_image.url}}" alt="" class="product-img">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}