{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'base/css/header.css' %}">

<header class="header">
    <div class="container">
        <div class="header_inner">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'base/logo.png' %}" alt="" class="logo-img">
            </a>
            <div class="nav">
                <div class="dropdown">
                    <a class="dropbtn">{% trans 'Cars' %}<img src="{% static 'base/icons/arrow-down.png' %}" alt="" class="drpdwn_img"></a>
                    <div class="dropdown-content">
                        <div class="drop-list">
                            <a class="drop-link" href="/cars/">{% trans 'All categories' %}</a>
                            <hr class="drop-line">
                            {% for car_category in car_category.all %}
                            <a class="drop-link" href="/cars/?category={{car_category.url}}">{{car_category}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">{% trans 'Services' %}<img src="{% static 'base/icons/arrow-down.png' %}" alt="" class="drpdwn_img"></a>
                    <div class="dropdown-content">
                        <div class="drop-list">
                            <a class="drop-link" href="/services/">{% trans 'All services' %}</a>
                            <hr class="drop-line">
                            {% for service in service.all %}
                            <a class="drop-link" href="/services/{{service.url}}">{{service}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a class="dropbtn" href="{% url 'about' %}">{% trans 'About' %}</a>
                <a class="dropbtn" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a>

                <div class="languages">
                    <img src="{% static  'base/icons/lang.png' %}" alt="" class="lang-icon">
                    <form action="{% url 'set_language' %}" id="language-form"  method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language" class="language-select">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option class="lang-item" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local|slice:3  }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <button class="burger" id="toggle-menu">
                    <img src="{% static 'base/icons/burger.png' %}" alt="" class="burger-icon">
                </button>
            </div>

            <div id="menu">
                <div class="menu-header">
                    <button class="close" id="close">
                        <img src="{% static 'base/icons/close.png' %}" alt="" class="close-img">
                    </button>
                </div>

                <ul class="menu-links">
                    <h5 class="menu-title">{% trans 'Cars' %}</h5>
                    <li class="nav-items "><a class="nav-link link-light" href="{% url 'cars' %}">{% trans 'All categories' %}</a></li>
                    <hr class="drop-line">
                    {% for car_category in car_category.all %}
                    <li class="nav-items "><a class="nav-link link-light" href="/cars/?category={{car_category.url}}">{{car_category}}</a></li>
                    {% endfor %}
                </ul>
                <ul class="menu-links">
                    <h5 class="menu-title">{% trans 'Services' %}</h5>
                    <li class="nav-items "> <a class="nav-link link-light" href="{% url 'services' %}">{% trans 'All services' %}</a></li>
                    <hr class="drop-line">
                    {% for service in service.all %}
                        <li class="nav-items"><a class="nav-link link-light" href="/services/{{service.url}}/">{{service}}</a></li>
                    {% endfor %}
                </ul>
                <ul class="menu-links">
                    <h5 class="menu-title">{% trans 'Information' %}</h5>
                    <li class="nav-items "><a class="nav-link link-light" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                    <li class="nav-items "><a class="nav-link link-light" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>

<script type="text/javascript" src="{% static 'base/js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/languages.js' %}"></script>