{% extends 'base/main.html' %}
{% load static %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/car_on_comission.css' %}">

<div class="car_on_com">
    <h2 class="block-title credit-main-title">
        Авто на коміссію
    </h2>

    <h6 class="car_on_com-title">
        Про послугу "Авто на комісію":
    </h6>
    <div class="com_under_title">
        <p>Наш автосалон приймає на комісію легкові автомобілі і мікроавтобуси будь-яких марок, нові і з пробігом, як в справному стані, так і з дефектами (після ДТП, що вимагають ремонту).</p>
        <br>
        <p><strong>Авто на комісію</strong> - це послуга, яка є справжнім порятунком для багатьох автовласників. Продати старий автомобіль не так то просто: спочатку необхідно подати оголошення, потім спілкуватися з потенційними покупцями, зустрічатися з ними, втрачаючи багато часу. Сучасні люди, які цінують свій час і бажають продати свій автомобіль якомога швидше, користуються послугами автосалону «Карат-Авто», який надає послуги з прийому авто на комісію.</p>
    </div>

    <h6 class="car_on_com-title">
        Нашими головними перевагами є:
    </h6>
    <div class="com_under_title">
        <ul class="ul-com">
            <li>Активна рекламна кампанія Вашого автомобіля;</li>
            <li>Вигідні програми кредитування, страхування  Вашого автомобіля;</li>
            <li>Безпека Вашого автомобіля;</li>
            <li>Професійна передпродажна підготовка Вашого автомобіля;</li>
            <li>Пряма перереєстрація транспортного засобу на нового власника;</li>
            <li>Відсутність витрат по рекламі, стоянці, охорони автомобіля;</li>
            <li>Безкоштовні консультації з технічних і юридичних аспектів продажу автомобіля.</li>
        </ul>
    </div>

    <h6 class="car_on_com-title">
        Умови прийому автомобіля за полсугою:
    </h6>
    <div class="com_under_title">
        <p>При прийомі автомобіля на продаж Вам необхідно надати документи:</p>
        <ul class="ul-com">
            <li>Свідоцтво про реєстрацію;</li>
            <li>Генеральну довіреність (якщо Ви не є власником автомобіля);</li>
            <li>Власний паспорт, ідентифікаційний код.</li>
        </ul>
        <br>
        <p>Між Вами і автосалоном «Карат-Авто» складається:</p>
        <ul class="ul-com">
            <li>Договір відповідального зберігання автомобіля;</li>
            <li>Договір комісії;</li>
            <li>Акт прийому транспортного засобу на продаж.</li>
        </ul>
    </div>
</div>


{% endblock content %}