{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'services/css/garant.css' %}">

<div class="container">
    <div class="garant">
        <h2 class="block-title garant-main-title">{% trans 'Warranty obligations' %}</h2>

        <p class="description">
            {% trans 'The warranty on JAC cars is 3 years (thirty-six months) with a mileage of no more than 100,000 (one hundred thousand) kilometers, whichever comes first. The warranty period is counted from the day the car is handed over by the dealer to the first owner.' %}
            <br>
            {% trans 'When the car is transferred to another owner, the period for filing claims related to quality defects remains within the limits of the term and mileage established when the car was transferred to the first owner.' %}
            <br><br>
            {% trans 'More detailed information about guarantees and service can be obtained in the salons of official dealers of the brand.' %}
        </p>
    </div>
</div>
{% endblock content %}
