{% extends 'base/main.html' %}
{% load static %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'services/css/garant.css' %}">

<div class="garant">
    <h2 class="block-title garant-main-title">Гарантійні зобов'язання</h2>

    <p class="description">
        Гарантія на автомобілі JAC складає 3 роки (тридцять шість місяців) при пробігу не більше 100 000 (ста тисяч) кілометрів, в залежності від того, що настане раніше. Гарантійний термін відраховується з дня передачі автомобіля дилером першому власнику.
        <br>
        При переході автомобіля до іншого власника період для пред'явлення вимог, пов'язаних з недоліками якості, зберігається в межах терміну та пробігу, встановлених при передачі автомобіля першому власнику.
        <br><br>
        Більш детальну інформацію про гарантії та сервісне обслуговування можна отримати в салонах офіційних дилерів марки.
    </p>
</div>
{% endblock content %}
