{% extends 'base/main.html' %}
{% load static %}

<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'services/css/home.css' %}">
<!-- SERVICES BLOCK -->
<div class="block-services" style="margin-bottom: 50px; margin-top: 30px;">
    <h2 class="block-title">Послуги</h2>
    {% for service in service.all %}
    <a href="/services/{{service.url}}/" class="service-link">
        <div class="block-row">
            <h2 class="service-title">{{service.name}}</h2>
            <img class="service-img" src="{{service.service_image.url}}" alt="">
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}