.equip-block{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    margin-bottom: 10px;
}


.equip-info{
    flex: 0 0 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.equip-image{
    flex: 0 0 50%;
    border-radius: 5px;
    max-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-img{
    height: 100%;
}

.product-title{
    font-size: 20px;
}

.text-info-block{
    color: black;
}

.product-description{
    font-size: 14px;
}

.contact{
    text-align: center;
    text-decoration: none;
    background-color: #900020;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
}


/* MEDIA */
@media only screen and (max-width: 991px){
    .product-img{
        width: 100%;
    }

    .equip-block{
        flex-direction: column-reverse;
    }

    .equip-info{
        flex: 0 0 100%;
        order: -1;
    }

    .equip-image{
        flex: 0 0 100%;
        order: -1;
        max-height: none;
    }
}

@media only screen and (max-width: 450px){
    .product-title{
        font-size: 16px;
    }

    .product-description{
        font-size: 12px;
    }

    .contact{
        font-size: 14px;
        padding: 5px 0;
        margin: 0;
    }

    .equip-info{
        padding: 10px;
    }
}