.product{
    margin-bottom: 5px;
    padding: 10px 20px;

    transition: all .3s;
}

.block-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

.product-title{
    color: black;
    font-weight: 400;


    transition: all .3s;
}

.product-description{
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-description p{
        font-size: 14px;
    }

.image-wrapper{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    max-height: 100%;
    overflow: hidden;
    align-content: center;
    align-items: center;
}

.between{
    margin-bottom: 20px;
}

.product-img{
    height: 400px;
    width: auto;
    margin: 0;
    padding: 0;
    scale: 1;

    transition: all .3s;
}

.contact{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #900020;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;

    transition: all .3s;
}

.product-order-btn:hover{
    background-color: #680017;
    color: #F2F2F2;
}

.product-card:hover {
    border: 1px solid #900020;
}




/* MEDIA */


@media(max-width: 991px){
    .product-img{
        height: auto;
        width: 100%;
    }
}

@media(max-width: 550px){
    .product-img{
        height: auto;
        width: 100%;
    }

    .product-title{
        font-size: 20px;
    }

    .desc-block *{
        font-size: 14px;
    }

    .contact{
        font-size: 14px;
        margin: 10px 0;
    }

}