.details-inner{
    display: flex;
    flex-wrap: wrap;
}

/* SLIDER */

.car-slider{
    flex: 0 0 50%;
    overflow: hidden;
}

.car-info{
    flex: 0 0 50%
}

.image-wraper{
    width: 100%;
    overflow: hidden;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.car-gallery{
    display: flex;
    overflow-x: auto;
    margin-top: 5px;
    scroll-behavior: smooth;
}

.car-gallery-img{
    height: 50px;
    width: auto;
    opacity: .5;
}

.active{
    opacity: 1;
}


/* CAR INFO */

.car-info{
    padding-left: 30px;
}

.car-title{
    margin-bottom: 20px;
    margin-top: 15px;
}

.car-price{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}

.car-char-table{
    margin: 10px 0;
    width: 100%;
}

.price-descrition{
    margin-bottom: 30px;
    font-size: 12px;
}

.price-descrition span{
    font-weight: 700;
    color: #900020;
}

.table-img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.table-content{
    display: flex;
}

.car-char{
    margin-right: 7px;
    margin-bottom: 10px;
}

.car-colors{
    margin-bottom: 30px;
}

.color-link{
    text-decoration: none;

}

.color-preview{
    display: inline-block;
    margin-right: 10px;
}

.color-preview{
    height: 20px;
    width: 20px;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
}

.colors-title{
    margin-bottom: 15px;
}

.car-char-table{
    width: 100%;
    margin: 10px 0;
}

.offer-button{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #900020;
    transition: all .3s;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;

}

.button-text{
    font-weight: 400;
    margin: 0;
}
.offer-button:hover{
    background-color: #680017;
    color: #C8C8C8;
}

/* GENERAL */
.car-desc-block{
    margin-bottom: 75px;
    margin: 0px 20px;
}

.tab-link{
    color: black;
    transition: all .3s;
}

.tab-link:hover{
    color: #900020;
}

.active-tab{
    background-color: #900020;
    color: white;
}

.active-tab:hover{
    color: white;
}

.active-tab:focus{
    outline: none;
    color: white;
}






/* MODAL */
.modal-w{
    position: fixed;
    inset: 0;
    width: auto;
    height: 100vh;
    background-color: rgba(0,0,0, .5);
    display: none;
    cursor: pointer;
    padding: 10px;
    overflow-y: auto;
    z-index: 2;
}

.modal-container{
    padding: 0px 50px;
    margin: 20px 0px;
}

.modal-window{
    position: relative;
    background-color: white;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    cursor: default;
}

.form-gloup-flex{
    position: relative;
}

.form-check-label{
    position: absolute;
    color: red;
    left: -12px;
    top: 13px;
}

.all-fields{
    font-size: 14px;
    margin-top: 5px;
}

.all-fields span{
    color: red;
}

.modal-close{
    position: absolute;
    background-color: white;
    width: 25px;
    height: 25px;
    border: none;
    right: 10px;
    padding: 5;
}

.modal-header{
    margin-bottom: 25px;
}

.modal-form{
    display: block;
    display: flex;
    width: 100%;
}

.modal-input{
    display: block;
    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding-left: 5px;
    margin-top: 10px;
    width: 100%;
}

.modal-inp-comment{
    min-height: 100px;
}

.form-gloup{
    display: inline-block;
    width: 100%;
}

.modal-input{
    width: 100%;
}

.modal-inp-ringup{
    margin-right: 5px;
    cursor: pointer;
}

.close-img{
    height: 15px;
    width: 15px;
    padding: 0;
}

.send-btn{
    background-color: #900020;
    padding: 5px 30px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
}

.tab-content{
    padding: 20px 0px;
}

.showdesc{
    display: initial;
}

.block-under-line{
    margin-top: 60px;
    color: #C8C8C8;
}






/* TABS */
.tabs-block{
    margin: 30px 0;
    padding: 0;
}

.tab-link.active-tab{
    color: white;
}

.tab-link{
    padding: 5px 25px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 20px;
}

.tab-content{
    margin-top: 20px;
    padding: 0;
}

/* TABS CHARS */
.char-title{
    padding: 0px 10px;
    margin: 0;
    font-size: 18px;
}

.char-table-block{
    width: 100%;
}

.char-table-block tr{
    border-bottom: 1px solid grey;
}

.char-line{
    width: 50%;
    padding: 5px 10px;
}

.char-item-text{
    margin: 0;
}

.color-char{
    display: flex;
    align-items: center;
}


/* TABS COMPLECTS */
.complects{
    width: 100%;
    text-align: center;
}

.char-line-char{
    text-align: left;
    padding: 5px 0;
}

.complect-name{
    padding: 10px 10px;
    font-weight: 700;
}

.complect-value{
    padding: 0 10px;
}

.char-line-complects{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    background-color: #900020;
    color: white;
}

.value-img{
    width: 15px;
    height: 15px;
}

.light-b{
    border-bottom: 1px solid #C8C8C8;
}


/* TABS PRICES */
.prices{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.table-col{
    width: 5%;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}
.table-col-l{
    text-align: left;
}

.border-l{
    border-left: none;
}

.border-r{
    border-right: none;
}

.border-t{
    border-top: none;
}

.border-b{
    border-bottom: none;
}

.red{
    color: #900020;
}





/* MEDIA */
@media only screen and (max-width: 1100px){
    .image-wraper{
        height: 300px;
    }

    .price-descrition{
        margin-bottom: 15px;
    }

    .car-title{
        margin-bottom: 5px;
    }

    .car-colors{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 991px){
    .car-slider, .car-info{
        flex: 0 0 100%;
    }

    .image-wraper{
        height: 500px;
    }

    .car-info{
        padding: 0 10px;
    }

    .tab-content{
        padding: 0 10px;
    }

    .table-col{
        padding: 5px;
        font-size: 14px;
    }

    .tabs{
        padding: 0 10px;
    }
}

@media only screen and (max-width: 800px){
    .image-wraper{
        height: 400px;
    }
}

@media only screen and (max-width: 650px){
    .image-wraper{
        height: 300px;
    }

    .table-col{
        padding: 2px;
        font-size: 12px;
    }

    .complect-text{
        font-size: 12px;
    }

    .tab-link{
        padding: 5px 15px;
        font-size: 16px;
    }

    /*  COMPLECTS  */
    .char-line-complects{
        font-size: 14px ;
    }

    .complect-name{
        font-size: 14px;
        padding: 5px 5px;
    }

    .char-line-char{
        font-size: 12px;
    }

    .value-img{
        height: 12px;
        width: 12px;
    }

    .complect-value{
        padding: 0 5px;
    }

    .char-title{
        font-size: 14px;
    }

    .char-line{
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px){
    .image-wraper{
        height: 250px;
    }

    .car-title, .car-price{
        font-size: 24px;
    }

    .car-char{
        font-size: 16px;
        margin-bottom: 0;
    }

    .colors-title{
        margin-bottom: 0;
        margin-top: 15px;
    }

    .car-gallery-img{
        height: 40px;
    }

    .button-text{
        font-size: 20px;
    }

    .tab-link{
        font-size: 14px;
        padding: 2px 10px;
    }
}

@media only screen and (max-width: 400px){
    .image-wraper{
        height: 210px;
    }
    
    .nav-link{
        font-size: 12px;
    }

    .modal-container{
        padding: 0 20px;
        margin-top: 25px;
    }

    .close-img{
        right: 5px;
        top: 5px;
    }

    .tab-link{
        padding: 2px 5px;
    }

    .complect-name{
        font-size: 12px;
        padding: 3px 3px;
    }

    .complect-value{
        padding: 0 3px;
    }
}

@media only screen and (max-width: 360px){
    .image-wraper{
        height: 180px;
    }

    .tab-link{
        font-size: 12px;
    }
}