/* CAR LIST */
.car-card{
    border-radius: 5px;
}
.car-list{
    margin-top: 20px;
}

.car-link{
    color: black;
    text-decoration: none;
}

.card-info{
    padding: 10px 10px;
}

.car-title{
    margin-top: 10px;
}

.chars{
    width: 100%;
    margin: 20px 0;
}

.char-in{
    display: flex;
    align-items: center;
    padding: 5px;
}

.car-char{
    margin: 0;
    padding-top: 2px;
    margin-left: 3px;
}

.char-img{
    width: 25px;
    height: 25px;
    margin-right: 2px;
}


.card-btn{
    background-color: #900020;
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    font-size: 22px;
    font-weight: 500;
    transition: all .5s;
}

.car-list-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Изначально 3 столбца */
    grid-gap: 10px;
}

.card-image{
    border-radius: 5px 5px 0 0;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.card-img-top{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .5s;
}

.card-body{
    background-color: #F0F0F0;
}

.car-card:hover .card-btn{
    background-color: #680017;
    color: #C8C8C8;
}
.car-card:hover .card-img-top{
    scale: 1.02;
}


/* PAGINATION */

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.step-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list{
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.pagination-item{
    display: flex;
    justify-content: center;
    border: 1px solid #C8C8C8;
    border-radius: 5px;

    transition: all .3s;
}

.pagination-item:hover{
    border-color: #900020;
}

.pagination-item:hover .pag-link{
    color: #900020;
}

.pagination-item + .pagination-item{
    margin-left: 5px;
}

.pag-arrow{
    align-items: center;
}

.active-pag{
    align-items: center;
    padding: 2px 10px;
    background-color: #900020;
    color: white;
    text-decoration: none;
    margin: 0;
}

.pag-link{
    padding: 2px 10px;
    color: black;
    text-decoration: none;

    transition: all .3s;
}

.arrow-img{
    width: 10px;
    height: 15px;
    margin: 10px;
}





/* MEDIA */
@media only screen and (max-width: 1200px){
    .card-image{
        height: 220px;
    }
}

@media only screen and (max-width: 1050px){
    .card-image{
        height: 200px;
    }

    .chars{
        margin: 5px 0;
    }
}

@media only screen and (max-width: 991px){
    .car-list-inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-image{
        height: 270px;
    }
}

@media only screen and (max-width: 850px){
    .card-image{
        height: 220px;
    }
}

@media only screen and (max-width: 700px){
    .card-image{
        height: 180px;
    }
}

@media only screen and (max-width: 600px){
    .car-list-inner{
        grid-template-columns: repeat(1, 1fr);
    }

    .card-image{
        height: 300px;
    }

    .car-title{
        font-size: 24px;
        margin: 5px 0;
    }

    .card-btn{
        font-size: 20px;
    }

    .pagination{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px){
    .card-image{
        height: 250px;
    }
}

@media only screen and (max-width: 400px){
    .card-image{
        height: 210px;
    }
}

@media only screen and (max-width: 350px){
    .card-image{
        height: 180px;
    }
}
