/* -- CAR LIST  -- */

.block-car-information{
    margin-top: 30px;
}
.card{
    background-color: #F2F2F2;
    border:none;
}
.card-img-top-cover{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
    align-items: center;
}

.image-cover{
    height: 240px;
    width: 100%;
}

.card-img-top{
    object-fit: cover;
    transition: all .75s;
    height: 240px;
    width: 100%;
}

.card-img-top:hover{
    filter: brightness(0.8);
    scale: 1.025;
}

.cover-link{
    text-decoration: none;
}

.table-img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.table-content{
    display: flex;
}

.car-char{
    margin-right: 7px;
    margin-bottom: 10px;
}





/* PAGINATION */

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.step-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list{
    display: flex;
}

.pagination-item{
    display: flex;
    justify-content: center;
    border: 1px solid #C8C8C8;
    border-radius: 5px;

    transition: all .3s;
}

.pagination-item:hover{
    border-color: #900020;
}

.pagination-item:hover .pag-link{
    color: #900020;
}

.pagination-item + .pagination-item{
    margin-left: 5px;
}

.pag-arrow{
    align-items: center;
}

.active-pag{
    align-items: center;
    padding: 2px 10px;
    background-color: #900020;
    color: white;
    text-decoration: none;
    margin: 0;
}

.pag-link{
    padding: 2px 10px;
    color: black;
    text-decoration: none;

    transition: all .3s;
}

.arrow-img{
    width: 10px;
    height: 15px;
    margin: 10px;
}





/* MEDIA */
