/* FILTERS */
.filters {
    width: 100%;
}

.form-inner{
    height: 100%;
    margin: 10px 0;
}

.filters-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-option{
    flex: 1 0 25%;
    padding: 0;
    border: none;
}

.filter-links:focus{
    padding: 0;
    border: none;
}

.filter-links{
    padding: 0;
    border: none;
}


.filter-option-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    height: 30px;
}

.filter-option-inner + .filter-option-inner{
    margin-right: 5px;
}

.label_class{
    flex: 1 0 35%;
    padding-left: 10px;
}

.filter-links{
    flex: 1 0 65%;
    border-radius: 3px;
    border: none;
    height: 30px;
}

.filter-links-input{
    display: flex;
    justify-content: space-between;
}

.input-data{
    width: 45%;
    height: 30px;
    padding: 2px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid grey;

}

.between-value{
    margin: 0;
    padding-top: 5px;
}

.filter-option{
    display: inline-block;
    font-size: 14px;
    width: 100%;
}

.filter-btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.filter-btn.active {
    background-color: #C8C8C8;
}

.all-filters {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
}

.form-buttons{
    display: flex;
    flex-wrap: wrap;
}

.search-button{
    flex: 1 0 90%;
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.cancel-btn{
    width: 100%;
    height: 100%;
    border: none;
    padding: 2px 0;
    border-radius: 5px;
}

.close-button{
    flex: 1 0 10%;
    width: 100%;
    height: 100%;
    padding-right: 5px;
}

.search-btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #900020;
    color: white;
    border-radius: 5px;
    padding: 2px 0;
    transition: all .3s;
}

.cancel-img{
    height: 20px;
    width: 20px;
    opacity: .4;
    padding: 2px;
    transition: all .3s;
}

.close-button:hover .cancel-img{
    opacity: 1;
}

.search-button:hover .search-btn{
    background-color: #680017;
    color: #C8C8C8;
}



/* MEDIA */
@media only screen and (max-width: 1000px) {
    .label_class {
        flex: 1 0 30%;
    }

    .filter-option {
        flex: 1 0 50%;
    }

    .filter-links {
        flex: 1 0 70%;
    }

    .close-button, .search-button {
        flex: 1 0 50%;
    }
}

@media only screen and (max-width: 676px){
    .filter-option {
        flex: 1 0 100%;
        width: 100%;
    }

    .label_class {
        flex: 1 0 30%;
    }

    .filter-links {
        flex: 1 0 70%;
    }

    .close-button, .search-button {
        flex: 1 0 100%;
        margin-bottom: 5px;
        padding: 0;
    }
}
