.credit{
    margin-top: 30px;
    margin-bottom: 30px;
}

.credit-title{
    color: white;
    background-color: #900020;
    margin-bottom: 10px;
}

.credit-list{
    margin-left: 10px;
    padding: 0;
}

.oschad{
    margin-top: 20px;
}

.oschad-logo, .globus-logo{
    margin-right: 5px;
}

.credit-description{
    margin-left: 5px;
    margin-bottom: 10px;
}
.description-link{
    color: #900020;
    text-decoration: none;
}

/* OSCHAD TABLE */
.credit-table{
    width: 100%;
    border: 1px solid black;
}

.t-border{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.t-border span{
    color: red;
}

.table-info span{
    color: red;
}

.table-info{
    margin: 0;
    padding-top: 2px;
}






.oschad-logo{
    height: 25px;
    width: auto;
}

.globus-logo{
    height: 25px;
    width: auto;
}

.credit-block{
    margin-top: 10px;
}



/* MEDIA */
@media(max-width: 676px){
    .credit{
        margin-top: 5px;
    }

    .credit-title{
        font-size: 16px;
    }

    .credit-description, .credit-list-item{
        font-size: 12px;
    }

    .oschad{
        font-size: 16px;
    }

    .credit-table{
        font-size: 12px;
        padding: 2px;
    }

    .table-info{
        font-size: 12px;
    }

}

@media(max-width: 420px){
    .credit-table{
        font-size: 8px;
    }

    .oschad{
        font-size: 12px;
    }

    .credit-title{
        font-size: 12px;
    }

    .oschad-logo{
    height: 15px;
    width: auto;
}

    .globus-logo{
        height: 15px;
        width: auto;
    }
}