.garant-main-title{
    margin-top: 30px;
}

.garant{
    height: 80vh;
}


/* MEDIA */
@media(max-width: 676px){
    .garant-main-title{
        margin-top: 20px;
        font-size: 18px;
    }

    .description{
        font-size: 12px;
    }
}