.insurance-main-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.insurance-table{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 5px;
 }

 .table-col{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
     width: 2%;
     padding: 1px;
}

.table-row{
    border: 1px solid black;
    width: 20%;
    text-align: center;
    padding: 5px;
    padding: 1px;
}

.title-table{
    font-size: 34px;
}

.little-text{
    font-size: 10px;
}

.table-main-title-add{
    font-size: 10px;
}

.table-main-title-add span{
    color: red;
}

.blue{
    background-color: cornflowerblue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: #c5e3bf;
}

.orange{
    background-color: #ffd1a8;
}

.grey{
    background-color: #e3e3e3;
}

.info-fiz{
    border-left: 1px solid black;
}

.under-desc{
    font-size: 14px;
    margin: 5px 0;
}

.header-fiz-title{
    font-size: 20px;
    text-align: center;
}

.header-fiz-title span{
    font-weight: 700;
}

.pensioners{
    margin-bottom: 75px;
}





/* MEDIA */
@media(max-width: 991px){
    .insurance-main-title{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-fiz-title{
        font-size: 16px;
    }
    .under-desc{
        font-size: 14px;
    }

    .insurance-table {
        font-size: 12px;
    }

    .title-table{
        font-size: 24px;
    }

    .little-text{
        font-size: 10px;
    }
}

@media(max-width: 710px){
    .header-fiz-title{
        font-size: 14px;
    }
    .under-desc{
        font-size: 12px;
    }

    .insurance-table {
        font-size: 10px;
    }

    .title-table{
        font-size: 18px;
    }

    .little-text{
        font-size: 8px;
    }

    .br{
        display: none;
    }

    .pensioners{
        margin-bottom: 20px;
    }
}

@media(max-width: 600px){
    .header-fiz-title{
        font-size: 12px;
    }
    .under-desc{
        font-size: 10px;
    }

    .insurance-table {
        font-size: 8px;
    }

    .title-table{
        font-size: 14px;
    }

    .little-text{
        font-size: 6px;
    }
}

@media(max-width: 490px){
    .header-fiz-title{
        font-size: 10px;
    }
    .under-desc{
        font-size: 10px;
    }

    .insurance-table {
        font-size: 8px;
    }

    .title-table{
        font-size: 10px;
    }

    .little-text{
        font-size: 6px;
    }
}
