.lizing-main-title{
    margin-top: 30px;
}

.lizing-title{
    color: white;
    background-color: #900020;
    margin-bottom: 10px;
}

.lizing-list{
    margin-left: 30px;
}

.lizing-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.lizing-button{
    text-align: center;
    align-items: center;
    max-width: 30%;
    font-size: 20px;
    background-color: #900020;
    text-decoration: none;
    color: white;
    padding: 15px 70px;
    border-radius: 5px;
    transition: all .3s;
}

.lizing-button:hover{
    color: #C8C8C8;
    background-color: #680017;
}