.lizing-main-title{
    margin-top: 30px;
}

.lizing-title{
    color: white;
    background-color: #900020;
    margin-bottom: 10px;
}

.lizing-list{
    margin-left: 30px;
    padding: 0;
}

.lizing-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.lizing-button{
    text-align: center;
    align-items: center;
    max-width: 30%;
    font-size: 20px;
    background-color: #900020;
    text-decoration: none;
    color: white;
    padding: 15px 70px;
    border-radius: 5px;
    transition: all .3s;
}

.lizing-button:hover{
    color: #C8C8C8;
    background-color: #680017;
}




/* MEDIA */
@media(max-width: 1080px){
    .lizing-button{
        padding: 10px 30px;
    }

    .lizing-btn{
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media(max-width: 830px){
    .lizing-button{
        padding: 10px 20px;
        font-size: 18px;
        max-width: 75%;
    }

    .lizing-btn{
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .lizing-main-title{
        margin-top: 20px;
        font-size: 24px;
    }
}

@media(max-width: 676px){
    .lizing-button{
        padding: 5px 10px;
        font-size: 16px;
    }

    .lizing-title{
        font-size: 14px;
    }

    .lizing-list{
        font-size: 12px;
        margin-left: 10px;
    }

    .lizing-btn{
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .lizing-main-title{
        margin-top: 20px;
        font-size: 24px;
    }
}