.reregister{
    margin-top: 30px;
    height: 85vh;
}

.rereg-title{
    color: white;
    background-color: #900020;
    margin-bottom: 10px;
}

.rereg-list{
    margin-left: 30px;
}



/* MEDIA */
@media(max-width: 676px){
    .rereg-main-title{
        font-size: 22px;
    }

    .rereg-title{
        font-size: 14px;
    }

    .rereg-list{
        font-size: 12px;
    }
}