{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cars/css/car.css' %}">

    <div class="car-details">
        <div class="container">
            <div class="details-inner">
                <div class="car-slider">
                    <div class="image-wraper">
                        <img id="featured" class="car-image" src="{{car.main_image.url}}" alt="">
                    </div>
                    <div class="car-gallery">
                        <img class="car-gallery-img active" src="{{car.main_image.url}}" alt="{{car.mark}} {{car.model}} img">
                        {% for image in car.carimages_set.all %}
                            <img class="car-gallery-img" src="{{image.image.url}}" alt="">
                        {% endfor %}
                    </div>
                </div>

                <div class="car-info">

                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'cars/js/car-slider.js' %}"></script>
<!--    <script type="text/javascript" src="{% static 'cars/js/car-desc.js' %}"></script>-->
<!--    <script type="text/javascript" src="{% static 'cars/js/modal.js' %}"></script>-->
{% endblock content %}