{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

    <!--    CONTENT    -->
    {% block content %}
        <link rel="stylesheet" href="{% static 'cars/css/car.css' %}">
        <div class="container">
            <!-- MAIN CAR INFO -->
            <div class="block-car-information">
                <div class="row justify-content-space-between">
                    <div class="col-lg-7 car-image-slider-block">
                        <div class="image-wraper">
                            <img id="featured" class="car-image" src="{{car.main_image.url}}" alt="{{car.mark}} {{car.model}} img">
                        </div>
                        <div class="gallery-slider">
                            <img id="slideLeft" class="slider-arrow" src="{% static 'cars/icons/arrow-left.png' %}">
                            <div id="slider" class="car-gallery">
                                <img class="car-gallery-img active" src="{{car.main_image.url}}" alt="{{car.mark}} {{car.model}} img">
                                {% for image in car.carimages_set.all %}
                                    <img class="car-gallery-img" src="{{image.image.url}}" alt="">
                                {% endfor %}
                            </div>
                            <img id="slideRight" class="slider-arrow" src="{% static 'cars/icons/arrow-right.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-5 car-info-block">
                        <h1 class="car-title">{{car.mark}} {{car.model}}</h1>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == 'en' %}
                        <h3 class="car-price">{% trans 'Price:' %} {{car.price|intcomma}} $</h3>
                        {% elif LANGUAGE_CODE == 'uk' %}
                        <h3 class="car-price">{% trans 'Price:' %} {{car.price_ua|intcomma}} грн.</h3>
                        {% endif %}
                        <p class="price-descrition">
                            <span>{% trans 'WARNING' %}!</span> {% trans 'In connection with changes in the dollar exchange rate, check the prices with the managers' %}
                        </p>
                        <table class="car-char-table">
                            <tr>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'cars/icons/car-fuel.png' %}" alt="">
                                        <p class="car-char">{{car.engine_type}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'cars/icons/car-transmission.png' %}" alt="">
                                        {% for transmission in car.transmission.all %}
                                        <p class="car-char">{{transmission.name }} </p>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'cars/icons/car-year.png' %}" alt="">
                                        <p class="car-char">{{car.year}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'cars/icons/car-engine.png' %}" alt="">
                                        <p class="car-char">{{car.engine_volume}} {% trans 'cc' %}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="car-colors">
                            <h6 class="colors-title">{% trans 'Colors:' %}</h6>
                            {% for color in car.color.all %}
                                <a class="color-link" href="#">
                                    <div class="color-preview" style="background-color: #{{color.hex}};"></div>
                                </a>

                            {% endfor %}
                        </div>
                        <button class="offer-button"><h4 class="button-text">{% trans 'Order' %}</h4></button>
                    </div>
                </div>
            </div>

            <!--  Modal Window Block  -->
            <div class="modal-w">
                <div class="modal-window">
                    <button class="modal-close">
                        <img class="close-img" src="{% static 'cars/icons/cancel.png' %}" alt="">
                    </button>
                    <div class="modal-container">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans 'Placing an order on' %} "{{car.mark}} {{car.model}}"</h5>
                        </div>
                        <form action="" class="modal-form" method="POST">
                            {% csrf_token %}
                            <div class="form-content">
                                <div class="form-gloup form-gloup-flex">
                                    <label class="form-check-label" for="form-name-label">*</label>
                                    <input class="modal-input modal-inp-name" name="form-name" id="form-name-label" type="text" placeholder="name" required minlength="4">
                                </div>
                                <div class="form-gloup">
                                    <input class="modal-input modal-inp-email" name="form-email" type="email" placeholder="e-mail"minlength="5">
                                </div>
                                <div class="form-gloup form-gloup-flex">
                                    <label class="form-check-label" for="form-tel-label">*</label>
                                    <input class="modal-input modal-inp-tel" id="form-tel-label" name="form-tel" type="tel" placeholder="tel" required minlength="10">
                                </div>
                                <div class="form-gloup form-gloup-flex">
                                    <label class="form-check-label" for="form-text-label">*</label>
                                    <textarea class="modal-input modal-inp-comment" id="form-text-label" name="form-msg" placeholder="message" required></textarea>
                                </div>
                                <div class="form-gloup">
                                    <input class="modal-inp-ringup" type="checkbox" name="form-check">
                                    <label class="form-label" id="form-check-label">{% trans 'Call back' %}</label>
                                </div>
                                <button class="send-btn" type="submit">{% trans 'Send' %}</button>
                                <p class="all-fields">{% trans 'Fields with' %} <span>*</span> {% trans 'are mandatory to fill out' %}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- CAR DESCRIPTION BLOCK -->
            <div class="car-desc-block">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link tab-link active-tab" id="nav-home-tab" data-toggle="pill" href="#pills-desc" role="tab" aria-controls="nav-home" aria-selected="true">{% trans 'Description' %}</a>
                        <a class="nav-link tab-link" id="nav-profile-tab" data-toggle="pills-chars" href="#pills-chars" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans 'Characteristics' %}</a>

                        {% if complects %}
                            <a class="nav-link tab-link" id="nav-contact-tab" data-toggle="pill-complect" href="#pills-complects" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans 'Complete sets' %}</a>
                            <a class="nav-link tab-link" id="nav-price-tab" data-toggle="pill-price" href="#pills-price" role="tab" aria-controls="nav-price" aria-selected="false">{% trans 'Prices' %}</a>
                        {% endif %}
                    </div>
                </nav>

                <div class="tab-content" id="pills-tabContent">
                    {% if LANGUAGE_CODE == 'en' %}
                        <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-home-tab">{{car.description_en|safe}}</div>
                    {% else %}
                        <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-home-tab">{{car.description_uk|safe}}</div>
                    {% endif %}

                    <!--    CHARACTERISTICS BLOCK    -->
                    <div class="tab-pane fade" id="pills-chars" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col">
                                <div class="char-title">
                                    <h6 class="title-text">{% trans 'General' %}:</h6>
                                </div>

                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Brand' %}:</div>
                                    <div class="col-6 char-item-text">{{car.mark}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6">{% trans 'Model' %}:</div>
                                    <div class="col-6">{{car.model}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Year' %}:</div>
                                    <div class="col-6 char-item-text">{{car.year}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Categories' %}:</div>
                                    <div class="col-6">
                                    {% for category in car.category.all %}
                                        <p class="char-item-text">{{category}}</p>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="char-title">
                                    <h6 class="title-text">{% trans 'Engine & Transmission' %}:</h6>
                                </div>

                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Engine type' %}:</div>
                                    <div class="col-6 char-item-text">{{car.engine_type}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Engine capacity' %}:</div>
                                    <div class="col-6 char-item-text">{{car.engine_volume}} {% trans 'cc' %}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Power' %}:</div>
                                    <div class="col-6 char-item-text">{{car.power}} {% trans 'hp' %}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Transmission' %}:</div>
                                    <div class="col-6">
                                    {% for transmission in car.transmission.all %}
                                        <p class="char-item-text">{{transmission}}</p>
                                    {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Gears' %}:</div>
                                    <div class="col-6 char-item-text">{{car.car_speeds}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Drive unit' %}:</div>
                                    <div class="col-6 char-item-text">
                                        {{car.drive_unit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="char-title">
                                    <h6 class="title-text">{% trans 'Car body' %}:</h6>
                                </div>

                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Type' %}:</div>
                                    <div class="col-6 char-item-text">{{car.body_type}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Dimensions (LxWxH)' %}:</div>
                                    <div class="col-6 char-item-text">{{car.dimensions}}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Mass' %}:</div>
                                    <div class="col-6 char-item-text">{{car.car_weight}} {% trans 'kg' %}</div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                    <div class="col-6 char-item-text">{% trans 'Colors' %}:</div>
                                    <div class="col-6">
                                    {% for color in car.color.all %}
                                        <div class="color-char">
                                            <div class="color-show" style="background-color: #{{color.hex}}"></div>
                                            <p class="char-item-text">{{color}}</p>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!--    COMPLECTATION BLOCK    -->
                    {% if complects %}
                    <div class="tab-pane fade" id="pills-complects" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="row">
                                    {% if complects|length == 1 %}
                                        <div class="col-8"></div>
                                        {% for complect in complects.all %}
                                        {% if complect.car == car %}
                                            <div class="col-4" style="text-align: center">
                                                <h6 class="complect-text">{{complect}}</h6>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    {% elif complects|length == 2 %}
                                        <div class="col-8"></div>
                                        {% for complect in complects.all %}
                                        {% if complect.car == car %}
                                            <div class="col-2" style="text-align: center">
                                                <h6 class="complect-text">{{complect}}</h6>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    {% elif complects|length == 3 %}
                                        <div class="col-6"></div>
                                        {% for complect in complects.all %}
                                        {% if complect.car == car %}
                                            <div class="col-2 " style="text-align: center">
                                                <h6 class="complect-text">{{complect}}</h6>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>



                        {% if complects|length == 1 %}
                            <div class="row">
                                {% for category in char_category.all %}
                                    {% if category in complects.first.char_category.all %}
                                    <div class="col-2 category-block complect-text"><p>{{category}}</p></div>

                                    <div class="col-10">
                                        <div class="row">
                                            {% for char in char.all %}
                                                {% if char.char_category == category %}
                                                    {% for complect in complects.all %}
                                                        {% if char in complect.char.all.distinct %}
                                                            {% ifchanged char %}
                                                                <div class="col-8 complect-text" >{{char.name}}</div>
                                                            {% endifchanged %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for complect in complects.all %}
                                                        {% for value in value.all %}
                                                            {% if value.char == char and value.complectation == complect %}
                                                                <div class="col-4" style="text-align: center">
                                                                {% if value.value == True %}
                                                                <img class="value-img" src="{% static 'cars/icons//yes.png' %}" alt="">
                                                                {% else %}
                                                                <img class="value-img" src="{% static 'cars/icons/no.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% elif complects|length == 2 %}
                            <div class="row">
                                {% for category in char_category.all %}
                                    {% if category in complects.first.char_category.all %}
                                    <div class="col-2 category-block complect-text"><p>{{category}}</p></div>

                                    <div class="col-10">
                                        <div class="row">
                                            {% for char in char.all %}
                                                {% if char.char_category == category %}
                                                    {% for complect in complects.all %}
                                                        {% if char in complect.char.all.distinct %}
                                                            {% ifchanged char %}
                                                                <div class="col-8 complect-text" >{{char.name}}</div>
                                                            {% endifchanged %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for complect in complects.all %}
                                                        {% for value in value.all %}
                                                            {% if value.char == char and value.complectation == complect %}
                                                                <div class="col-2" style="text-align: center">
                                                                {% if value.value == True %}
                                                                <img class="value-img" src="{% static 'cars/icons//yes.png' %}" alt="">
                                                                {% else %}
                                                                <img class="value-img" src="{% static 'cars/icons/no.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% elif complects|length == 3 %}
                            <div class="row">
                                {% for category in char_category.all %}
                                    {% if category in complects.first.char_category.all %}
                                    <div class="col-2 category-block complect-text"><p>{{category}}</p></div>

                                    <div class="col-10">
                                        <div class="row">
                                            {% for char in char.all %}
                                                {% if char.char_category == category %}
                                                    {% for complect in complects.all %}
                                                        {% if char in complect.char.all.distinct %}
                                                            {% ifchanged char %}
                                                                <div class="col-6 complect-text" >{{char.name}}</div>
                                                            {% endifchanged %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for complect in complects.all %}
                                                        {% for value in value.all %}
                                                            {% if value.char == char and value.complectation == complect %}
                                                                <div class="col-2" style="text-align: center">
                                                                {% if value.value == True %}
                                                                <img class="value-img" src="{% static 'cars/icons//yes.png' %}" alt="">
                                                                {% else %}
                                                                <img class="value-img" src="{% static 'cars/icons/no.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}

                    </div>

                    <!--    PRICES BLOCK    -->
                    <div class="tab-pane fade" id="pills-price" role="tabpanel" aria-labelledby="pills-price-tab">
                        <table class="prices">
                            <tr class="table-row">
                                <td class="table-col border-l border-t">{% trans 'Complete set' %}</td>
                                <td class="table-col border-t">{% trans 'Drive unit' %}</td>
                                <td class="table-col border-t">{% trans 'Transmission' %}</td>
                                <td class="table-col border-r border-t">{% trans 'Price' %}</td>
                            </tr>
                            {% for complect in complects.all %}
                            {% if complect.car == car %}
                            {% for var in complect_transmissions %}
                            {% if var.complectation == complect %}
                            <tr class="table-row">
                                <td class="table-col table-col-l border-l border-b">{{car}}, <strong>{{complect}}</strong></td>
                                <td class="table-col border-b">{{complect.drive_unit}}</td>
                                <td class="table-col border-b">{{var.transmission}}</td>
                                {% if LANGUAGE_CODE == 'en' %}
                                <td class="table-col border-r border-b red">{{var.price|intcomma}} $</td>
                                {% elif LANGUAGE_CODE == 'uk' %}
                                <td class="table-col border-r border-b red">{{var.price_ua|intcomma}} грн.</td>
                                {% endif %}

                            </tr>

                            {% if var.price_bf != '0' %}
                            <tr class="table-row">
                                <td class="table-col table-col-l border-l border-b">{{car}}, <strong>{{complect}}</strong> + {% trans 'Black roof' %}</td>
                                <td class="table-col border-b">{{complect.drive_unit}}</td>
                                <td class="table-col border-b">{{var.transmission}}</td>
                                {% if LANGUAGE_CODE == 'en' %}
                                    <td class="table-col border-r border-b red">{{var.price_bf|intcomma}} $</td>
                                {% elif LANGUAGE_CODE == 'uk' %}
                                    <td class="table-col border-r border-b red">{{var.price_bf_ua|intcomma}} грн.</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{% static 'cars/js/car-slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'cars/js/car-desc.js' %}"></script>
        <script type="text/javascript" src="{% static 'cars/js/modal.js' %}"></script>
    {% endblock content %}