{% extends 'base/main.html' %}
{% load static %}



<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'cars/css/cars.css' %}">
    <!--  MAIN BANNER  -->
    {% include 'include/banner.html' %}

    <!--  SEARCH FILTERS  -->
    {% include 'include/filters.html' %}

    <!--  CAR LIST  -->
    <div class="row m-3">
        {% if car %}
        {% for car in car.all %}
        <div class="col-lg-4 col-md-6 col-ms" style="padding: 0;">
            <a class="cover-link" href="{{ car.url }}">
                <div class="card m-2">
                    <div class="card-img-top-cover">
                        <div class="image-cover">
                            <img class="card-img-top" src="{{car.main_image.url}}" alt="">
                        </div>
                    </div>
                    <div class="card body p-3 " style="border:none;">
                        <h3 class="pb-4">{{car.mark}} {{car.model}}</h3>
                        <h4></h4>
                        <table>
                            <tr>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'images/car-fuel.png' %}" alt="">
                                        <p class="car-char">{{car.engine_type}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'images/car-transmission.png' %}" alt="">
                                        {% for transmission in car.transmission.all %}
                                        <p class="car-char">{{transmission.name }} </p>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'images/car-year.png' %}" alt="">
                                        <p class="car-char">{{car.year}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-content">
                                        <img class="table-img" src="{% static 'images/car-engine.png' %}" alt="">
                                        <p class="car-char">{{car.engine_volume}} см3</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <a href="/cars/{{car.url}}" class="btn btn-block btn-dark car-button"><h4 class="p-2"><small>Ціна: {{car.price}}$</small></h4></a>
<!--                    {% for category in car.category.all %}-->
<!--                        <p>{{category.name}}</p>-->
<!--                    {% endfor %}-->
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <h1 style="text-align: center; height: 50vh;">Автомобілі не знайдено</h1>
        {% endif %}
    </div>

{% endblock content %}