{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}



<!--    CONTENT    -->
{% block content %}
<link rel="stylesheet" href="{% static 'cars/css/cars.css' %}">

    <!--  MAIN BANNER  -->
    {% include 'include/banner.html' %}


    <!--  SEARCH FILTERS  -->
    {% include 'include/filters.html' %}

    <!--  CAR LIST  -->
    <div class="car-list">
        <div class="container">
            <div class="car-list-inner">
                {% for car in page_obj %}
                {% if car %}
                <div class="car-card">
                    <a href="{{ car.url }}" class="car-link">
                        <div class="card-body">
                            <div class="card-image">
                                <img class="card-img-top" src="{{car.main_image.url}}" alt="">
                            </div>
                            <div class="card-info">
                                <h3 class="car-title">{{car.mark}} {{car.model}}</h3>
                                <table class="chars">
                                    <tr>
                                        <td class="char">
                                            <div class="div char-in">
                                                <img class="char-img" src="{% static 'cars/icons/car-fuel.png' %}" alt="">
                                                <p class="car-char">{{car.engine_type}}</p>
                                            </div>
                                        </td>
                                        <td class="char">
                                            <div class="div char-in">
                                                <img class="table-img" src="{% static 'cars/icons/car-transmission.png' %}" alt="">
                                                {% for transmission in car.transmission.all %}
                                                <p class="car-char">{{transmission.name }}</p>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="char">
                                            <div class="div char-in">
                                                <img class="table-img" src="{% static 'cars/icons/car-year.png' %}" alt="">
                                                <p class="car-char">{{car.year}}</p>
                                            </div>
                                        </td>
                                        <td class="char">
                                            <div class="div char-in">
                                                <img class="table-img" src="{% static 'cars/icons/car-engine.png' %}" alt="">
                                                <p class="car-char">{{car.engine_volume}} {% trans 'cc' %}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'en' %}
                            <button class="card-btn">{% trans 'Price:' %} {{car.price|intcomma:"-"}} $</button>
                            {% elif LANGUAGE_CODE == 'uk' %}
                            <button class="card-btn">{% trans 'Price:' %} {{car.price_ua|intcomma}} грн.</button>
                            {% endif %}

                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="pagination">
        <div class="step-links">
            {% if page_obj.has_previous %}
            <a class="pag-arrow" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}{% if not forloop.last %}&{% endif %}{% endif %}{% endfor %}&page={{ page_obj.previous_page_number }}">
                <img class="arrow-img" src="{% static 'cars/icons/arrow-left.png' %}" alt="">
            </a>
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
            <ul class="pagination-list">
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                    <li class="pagination-item active-pag">{{ page_num }}</li>
                    {% else %}
                    <li class="pagination-item">
                        <a class="pag-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}{% if not forloop.last %}&{% endif %}{% endif %}{% endfor %}&page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}

            {% if page_obj.has_next %}
            <a class="pag-arrow" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}{% if not forloop.last %}&{% endif %}{% endif %}{% endfor %}&page={{ page_obj.next_page_number }}">
                <img class="arrow-img" src="{% static 'cars/icons/arrow-right.png' %}" alt="">
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}