.description{
    font-size: 16px;
}

.service-block{
    margin-bottom: 40px;
}

.service-title{
    color: white;
    background-color: #900020;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 2px;
}

.service-img{
    width: 100%;
    height: auto;
    margin: 10px 0;
}



/* MEDIA */
@media (max-width: 991px){
    .description{
        font-size: 14px;
    }
    .service-block{
        margin-bottom: 20px;
    }
    .service-title{
        color: white;
        font-size: 14px;
        background-color: #900020;
        margin-bottom: 5px;
        text-transform: uppercase;
    }



}