/* -- CONTACTS PAGE -- */
.maps-block{
    margin-bottom: 20px;
}

.maps-block-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.maps-info, .maps{
    flex: 1 0 50%;
}
.contacts-table{
    width: 100%;
}

.table-row{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}


#map-kyiv, #map-vishgorod {
    height: 100%;
    width: 100%;
}


/* MESSAGE FORM */
.block-message-form{
    max-width: 100%;
    align-items: center;
}

.messagee-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form{
    width: 700px;
}

.form-group{
    margin-bottom: 10px;
}

.form-check-label{
    margin-bottom: 2px;
}

.form-button{
    width: 100%;
    background-color: #900020;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px 0;
    font-size: 18px;
}



/* MEDIA */
@media only screen and (max-width: 750px){
    .message-form{
        width: 100%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 676px){
    .maps-info{
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 5px;
    }

    .maps{
        height: 250px;
        flex: 1 0 100%;
        width: 100%;
    }

    .dep-title{
        font-size: 18px;
    }

    .table-row{
        margin-bottom: 0px;
        font-size: 14px;
    }

    .maps-block-inner{
        margin-bottom: 10px;
    }

    .form-button{
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px){
    .dep-title{
        font-size: 14px;
    }

    .table-row, .message-label, .form-control{
        font-size: 12px;
    }
}
