.footer{
    background-color: #900020;
    color: white;
    padding: 50px 0;

}

.footer_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer_title{
    margin-bottom: 20px;
}

.block_footer{
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* MEDIA */
@media only screen and (max-width: 676px){
    .block_footer {
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-links, .footer_block_content{
        align-items: center;
    }

    .footer_title{
        text-align: center;
    }

    .footer_title{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 450px){
    .footer{
        padding: 10px 0;
    }

    .footer_title{
        font-size: 16px;
    }

    .footer-link{
        font-size: 12px;
    }

    .block_footer {
        margin-bottom: 0;
    }
}