.block_cars{
    display: flex;
    flex-wrap: wrap;
}

.block-image{
    position: absolute;
    object-fit: cover;
    height: 100%;
    display: block;
    margin: 0 auto;
    scale: 1.5;
    top: -30px;
    opacity: .9;

    transition: all .3s;
}

.cars-block-choice{
    position: absolute;
    height: 40px;
    background-color: rgba(0,0,0,.5);
    z-index: 3;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    transition: all .3s;
}

.block-title{
    margin: 0;
    font-weight: 300;
}

.block_first{
    position: relative;
    overflow: hidden;
    min-height: 370px;

    flex: 1 0 50%;
    padding: 20px;
    box-sizing: border-box;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_second{
    position: relative;
    overflow: hidden;
    min-height: 370px;

    flex: 1 0 50%;
    padding: 20px;
    box-sizing: border-box;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_first:hover .block-image{
    scale: 1.55;
    opacity: 1;
}

.block_first:hover .cars-block-choice{
    background-color: rgba(0,0,0,.7);
}

.block_second:hover .block-image{
    scale: 1.55;
    opacity: 1;
}

.block_second:hover .cars-block-choice{
    background-color: rgba(0,0,0,.7);
}




/* MEDIA */
@media only screen and (max-width: 991px){
    .block_first,
    .block_second {
        min-height: 300px;
    }
}

@media only screen and (max-width: 676px){
    .block_first,
    .block_second {
        flex: 1 0 100%;
        width: 100%;
        min-height: 250px;
    }
}

@media only screen and (max-width: 550px){
    .block_first,
    .block_second {
        flex: 1 0 100%;
        min-height: 200px;
    }
}

@media only screen and (max-width: 450px){
    .block-title{
        font-size: 18px;
    }

    .cars-block-choice{
        height: 30px;
    }
}