.block-info{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.ready-title{
    margin-bottom: 10px;
}

.ready-desc{
    margin-bottom: 40px;
    text-align: center;
}

.ready{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ready-btn{
    background-color: #900020;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;
    margin-bottom: 10px;

    transition: all .3s;
}

.buttons-inner{
    flex: 1 0 50%;
}

.ready-button{
    width: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.ready-btn:hover{
    background-color: #680017;
}





/* MEDIA  */

@media (max-width: 750px){
    .block-inner{
        height: 250px;
    }
}

@media (max-width: 500px){
    .ready-desc{
        padding: 0 20px;
    }

    .buttons{
        padding: 0 20px;
    }

    .buttons-inner{
        flex: 1 0 100%;
    }
}